<!DOCTYPE html>

<html lang="en"> 
  <head>

    <!-- metadeta -->
    <meta charset="UTF-8">
    <meta name="author" content="Koby Israeli">
    <meta name="description" content="KBS Contant Page">
    <!-- link to files -->
    <link rel="stylesheet" href = "/static/style.css" type="text/css">
    <link rel="icon" href="{{ url_for('img', path='/favicon-16x16.png') }}" type="image/png">
    <title>Contant Us - KBS</title> 
    
  </head>


  <body>

    <header>

      <h1>Contant Us (: </h1>
      <nav>
        <ul>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('hours') }}">Store Hours</a></li>      
        </ul>
      </nav>


      <figure>
        <img class="contant-img" src="/img/burger-dish-on-table.jpg" alt="koby's Holiday Special" title="koby's Holidays Special">
        <figcaption>Holiday at <abbr title="Koby's Burger Place">KBS</abbr></figcaption>
      </figure>
    </header>
    
    <main>      
      
      <article id="contant">
        <h2>Our Contact:</h2>
        <form action="https://httpbin.org/get" method="get">
          <fieldset>
            <legend>Send Us A Massage</legend>
            <p>
              <label for="yourName">Name</label>
              <input type="text" name="yourName" id="yourName" placeholder="Your Name" autocomplete="on" autofocus required>
            </p>
            <p>
              <label for="email">Email</label>
              <input type="email" name="email" id="email" placeholder="Your Email" autocomplete="on" required>
            </p>
            <h3>You'r Massage:</h3>
            <textarea name="massage" id="massage" cols="30" rows="10"
            placeholder="Type your massage here" required></textarea>
          </fieldset>          
          <button type="submit">Submit</button>
          <button type="reset">Reset</button>
        </form>
      </article>

      <section>
        <h2>Our Location:</h2>

        <address>
          Burger City, chips 25,
          <br> MO 1889854-88

          <br><br>
          Phone: <a href="tel:+5555555555">555-555-5555</a>

        </address> 
      </section>

      <hr>

      <p><a href="#">Back to Top</a></p>    

    </main>
    
   <hr>

   <footer>
     <p>Copyright &copy; Koby's Burgers Place</p>    
   </footer>   
  
  </body>
</html>