<!DOCTYPE html>

<html lang="en"> 
  <head>

    <!-- metadeta -->
    <meta charset="UTF-8">
    <meta name="author" content="Koby Israeli">
    <meta name="description" content="This page contain data about koby's burger place">
    <!-- link to files -->
    <link rel="stylesheet" href = "/static/style.css" type="text/css">
    <link rel="icon" href="/img/burger.png" type="image/png">    
    <title>Koby's Burger Place - Home</title> 
    
  </head>

  <body>

    <header>
      <h1> Welcome to Koby's Burger Place</h1>
      <!-- Todo create nav -->
      <nav>
        <ul>        
          <li> <a href="#about">About <abbr title="Koby's Burger Place">KBP</abbr></a></li>
          <li><a href="#menu">Our Menu</a></li>
          <!-- <li><a href="/Home/hours.html">Store Hours</a></li> -->
          <!-- <li><a href="contact.html">Contact Us</a></li> -->
          <li><a href="{{ url_for('hours') }}">Store Hours</a></li>
          <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
        </ul>
      </nav>      
      <figure>
        <img src="/img/burgers-on-the-grill.jpg" alt="koby's Grill"  title="Koby's Grill" width="400" height="267">
        <figcaption>The Grill At Koby's Burger Place</figcaption>      
      </figure>
   </header>

    <hr>
    
    <main>
      <section class="about" id="about">
        <h2>About <abbr title="Koby's Burger Place">KBP</abbr></h2>
        <p>
          <abbr title="Koby's Burger Place">KBP</abbr> was founded in <time datetime="2020">2020</time>. Our shop was built from a <strong>love for burgers</strong>.
          <br> We hope our shop adds a unique and interesting place to our little town.  
        </p>

        <aside>
          <h3>Burger Trivia</h3>
          <details>
            <summary>
              When did <mark>Burgers</mark> first apear in Israel? 
            </summary>
            <p> <time datetime="1956">1956</time></p>
          </details>
        </aside>
        
      </section>

      <hr>
      
      <section class="menu" id="menu"> 
        <h2>Our Menu</h2> 

        <table>
          <caption>Our Burgers</caption>
          <thead>
            <tr>
              <th scope="col">Burgers</th>
              <th scope="col"><abbr title="Quantity">Qty</abbr></th>
              <th scope="col">Price</th>
            </tr>            
          </thead>
          <tbody>
            <tr>
              <th scope="row" rowspan="3" >Koby's Special</th>
              <td>1</td>
              <td>10$</td>
            </tr>
            <tr>
              <td>2</td>
              <td>18$</td>
            </tr>
            <tr>
              <td>3</td>
              <td>15$</td>
            </tr>
            <tr>
              <th scope="row" rowspan="3" >Koby's GoTo</th>
              <td>1</td>
              <td>5$</td>
            </tr>
            <tr>
              <td>2</td>
              <td>9$</td>
            </tr>
            <tr>
              <td>3</td>
              <td>7.5$</td>
            </tr>
          </tbody>          
          <tfoot>
            <tr>
              <td colspan="3">Chips &amp; Fried onion 3$</td>
            </tr>
          </tfoot>
        </table>          
      </section>

      <img class="hum-img" src="/img/koby-special-smash-burger.jpg" alt="Koby's Special Humburger" title="Koby's Special" loading="lazy">
      
      <hr>
   
      <p>
      <a href="#">Back to Top</a>
      </p>

    </main>       

    <hr>
    
    <footer>
      <p> Copyright &copy; Koby's Burger Place</p>   
   </footer>

  </body>
</html>